html {
    scroll-behavior: smooth;
    background-color: #373737;
    max-width: 100%;
    /* overflow-x: hidden; */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    color: white;
    width: calc(100% - 40px);
    margin: 30px 20px 0;
    box-sizing: border-box;
    z-index: 1000;
}

.brand {
    font-size: 24px;
}

.brand a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.tabs {
    display: flex;
}

.tab {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.tab:hover {
    text-decoration: underline;
}



.sections {
    display: flex;
    flex-direction: column;
    height: 500%;
    transition: transform 0.5s ease-in-out;
}

.section {
    /* width: 100vw; */
    height: 100vh;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section.home {
    background-color: #373737;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    white-space: wrap;
    /* gap: 80px; */
    padding-bottom: 30px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.mobile {
    cursor: pointer;
    perspective: 1000px;
}

.mobile img {
    width: 300px;
    height: auto;
    object-fit: fill;
    animation: tiltAnimation 10s infinite alternate linear;
    transform-origin: center;
    transform: rotate(-5deg);
}

@keyframes tiltAnimation {
    from {
        transform: rotateY(-15deg);
    }

    to {
        transform: rotateY(15deg);
    }
}

.download a {
    width: 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.download a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);
}


.section.about {
    background-color: #373737;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    white-space: wrap;
    gap: 100px;
}

.wavy {
    position: absolute;
    bottom: -42%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}
.wavy2 {
    position: absolute;
    bottom: -102%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.text {
    font-size: 70%;
    font-family: 'Times New Roman', Times, serif;
z-index: 1000;
}

.section.contacts {
    background-color: #373737;
    display: flex;
}

  .element {
    margin: 10px;
    text-align: center;
    flex: 1;
  }

  .img-container {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin: 0 auto 10px;
  }

  .img-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  @media (max-width: 600px) {
    .element {
      flex-basis: calc(50% - 20px);
    }
  }

@media only screen and (max-width: 900px) {
    .text {
        font-size: 50%;
    }
    .mobile img {
        width: 250px;
    }
    .section.about {
        gap: 20px;
    }
}
@media only screen and (max-width: 715px) {
    .text {
        font-size: 40%;
    }
    .mobile img {
        width: 220px;
    }
}


@media only screen and (max-width: 600px) {
    .menu-icon {
        display: flex;
    }
    .mobile img {
        width: 200px;
    }

    .tabs {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #333;
        width: 100%;
        z-index: 1000;
    }

    .tabs.active {
        display: flex;
    }

    .tabs a {
        margin: 20px;
    }
}
